#recipe-variant {

  display: flex;
  align-items: center;

  &.with-border {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
  }

  ::ng-deep .no-border {
    --border-width: 0px;
  }

  ::ng-deep .button {
    display: flex;

    .span {
      display: flex;
      justify-content: space-between;
    }
  }

  ::ng-deep .variant-name {
    text-transform: none;
    max-width: 80%;
  }
}