<div id="recipe-variant-detail" class="ion-page">
  <ion-header>
    <ion-toolbar class=" ion-padding-end" style="display: flex;">
      <ion-buttons slot="start" class="ion-padding-end">
        <ion-back-button defaultHref="/recipes" text="" />
      </ion-buttons>

      <div class="firs-row ion-padding-top">
        <div>{{"recipes.recipe" | translate }}</div>
        <div class="header-recipe-name"> {{ recipe?.name }}</div>
      </div>

      <div class="second-row ion-padding-top">

        <div class="upper-part-of-row">
          <div>{{"recipes.variant" | translate}}</div>
        </div>
        <div class="lower-part-of-row">
          <div class="left">
            <div class="header-variant-name custom-title-2"> {{ variant?.name }}</div>

          </div>
          <div class="right">
            <ion-button fill="solid" shape="round">
              <ion-icon slot="icon-only" name="pencil" />
            </ion-button>
            <ion-button fill="solid" (click)="deleteVariant()">
              <ion-icon slot="icon-only" name="trash" />
            </ion-button>

          </div>
        </div>
      </div>

    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">

    <div *ngIf="variant !== null">
      <app-recipe-variant-detail [variant]="variant" />
    </div>
  </ion-content>
</div>