#recipe-variant-detail {

  .header-recipe-name {
    font-size: 1.5em;
    font-weight: bold;
  }


  ::ng-deep .toolbar-container {
    display: flex;
    gap: 12px;
  }

  .header-variant-name {

    font-weight: bold;
  }


  ::ng-deep .second-row {
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;


  }

  ::ng-deep .lower-part-of-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -15px;

  }

  ::ng-deep .left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}