<div class="recipe">
  <ion-button fill="outline" size="large" (click)="openRecipe()" [disabled]="isEditing">
    <div class="ion-text-start recipe-name">
      {{recipe.name}}
    </div>

    <div class="recipe-variants-container">
      <div class="recipe-variant-count">
        {{"recipe.variants" | translate }}: {{recipe.variants.length}}
      </div>
      <div class="recipe-variants">
        <div *ngFor="let variant of recipe.variants">
          <app-restriction [inputRestrictions]="variant.restrictions" />
        </div>
      </div>
    </div>
  </ion-button>
</div>