<div id="event-page" class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/planning" text="" />
      </ion-buttons>

      <div class="my-toolbar-content">
        <ion-label *ngIf="event === null">{{"planning.event.select-event" | translate}}</ion-label>
        <ion-label *ngIf="event !== null" class="custom-title-2">{{event.name}}</ion-label>
        <ion-button (click)="editEvent()" shape="round" size="small">
          <ion-icon slot="icon-only" name="pencil" />
        </ion-button>
      </div>

      <ion-buttons slot="end">
        <ion-button id="select-event" shape="round" size="small" class="ion-align-self-center select-even-button"
          style="align-self: flex-end; display: flex;">
          <ion-icon slot="icon-only" name="chevron-down" />
        </ion-button>
      </ion-buttons>

      <ion-popover #selectPopover trigger="select-event" triggerAction="click">
        <ng-template>
          <app-select-event (selectionChange)="selectionChanged($event)" />
        </ng-template>
      </ion-popover>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="content ion-padding-start ion-padding-end">
      <div style="font-weight: bold;">
        <ion-icon name="calendar" class="event-icon" />
        <ion-label>
          {{event?.dateFrom | date: 'dd.MM.yyyy'}} - {{event?.dateTo | date: 'dd.MM.yyyy'}}
        </ion-label>
      </div>
      <ion-button (click)="loadParticipants()" class="content-button">

        {{"planning.event.load-participants" | translate}}
      </ion-button>

      <ion-button (click)="displayMenu()" class="content-button">
        {{"planning.event.display-menu" | translate}}
      </ion-button>

      <ion-button (click)="shoppingLists()" class="content-button">
        {{"planning.event.shopping-lists.title" | translate}}
      </ion-button>
    </div>
  </ion-content>
</div>