<ion-grid id="recipe-detail">
  <ion-row>
    <ion-col>
      {{"recipe-detail.course" | translate}}:
    </ion-col>
    <ion-col>
      {{"recipe-detail.variants" | translate}}:
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="wrap-text">
      {{ getCourseNames(recipe.courses) }}
    </ion-col>
    <ion-col>

      {{recipe.variants.length}}
    </ion-col>
  </ion-row>
  <ion-row *ngIf="isEditing">
    <ion-col>
      <ion-button fill="clear" id="choose-course" class="choose-course-button">
        <img src="assets/icon/cutlery.png" class="responsive-icon" />
        <div>
          {{"recipe-detail.choose-course" | translate}}
        </div>
      </ion-button>
      <ion-popover id="choose-course-popover" trigger="choose-course" triggerAction="click">
        <ng-template>
          <app-course-list [selectedCourses]="getSelectedCourses"
            (selectedCoursesChange)="selectedCoursesChange($event)" />
        </ng-template>
      </ion-popover>
    </ion-col>
    <ion-col>
      <ion-button fill="clear" (click)="addVariant()" color="success" class="add-variant-button">
        <ion-icon slot="icon-only" name="add" />
        <div>
          {{"recipe-detail.add-variant" | translate}}
        </div>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="recipe !== null && recipe.variants.length > 1">
    <ion-searchbar animated="true" placeholder="{{'recipe-detail.searchBar' | translate}}" show-clear-button="always" />
  </ion-row>
  <ion-row *ngIf="(isEditing && recipe.variants.length > 0)" class="ion-align-items-center">

    <ion-col>
      {{"recipe-detail.selected" | translate }} : {{selectedCount}}
    </ion-col>
    <ion-col>
      <ion-button id="delete-selected-button" color="danger">
        <ion-icon name="trash" />
        <div>
          {{"recipe-detail.delete-selected" | translate}}
        </div>
      </ion-button>
    </ion-col>

  </ion-row>
  <ion-row>
    <ion-col *ngIf="recipe !== null && (recipe.variants.length > 1 || isEditing && recipe.variants.length > 0)">
      <app-variants-list [variants]="recipe.variants" [isEditing]="isEditing"
        (selectedCountChanged)="selectedCountChanged($event)" />
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col *ngIf="!isEditing && recipe.variants.length === 1 ">
      <app-recipe-variant-detail [variant]="recipe.variants[0]" />
    </ion-col>
    <ion-col *ngIf="recipe !== null && recipe.variants.length === 0">

      <p>{{"recipe-detail.no-variants" | translate}}</p>
    </ion-col>



  </ion-row>
</ion-grid>

<ion-alert trigger="delete-selected-button" header="A Short Title Is Best" subHeader="A Sub Header Is Optional"
  message="A message should be a short, complete sentence." [buttons]="alertButtons" />