<div id="recipe-detail" class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref=" /recipes" text="" />
      </ion-buttons>
      <div>
        <div class="ion-padding-top recipe">{{"recipes.recipe" | translate }}</div>
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <div class="header-recipe-name"> {{ recipe?.name }}</div>
          <div class="buttons-container">
            <ion-button fill="solid" shape="round" (click)="editRecipe($event)">
              <ion-icon slot="icon-only" name="pencil" fill="tertiary" />
            </ion-button>
            <ion-popover #editPopover>
              <ng-template>
                <ion-button (click)="redirectToRecipeEditPage()" fill="clear">
                  {{"recipes.recipe-detail.change-recipe"}}
                </ion-button>
                <ion-button (click)="redirectToRecipeVariantEditPage()" fill="clear">
                  {{"recipes.recipe-detail.change-variant"}}
                </ion-button>
              </ng-template>
            </ion-popover>
            <ion-button fill="solid" shape="round" (click)="deleteRecipe()">
              <ion-icon slot="icon-only" name="trash" />
            </ion-button>
          </div>

        </div>
      </div>
    </ion-toolbar>

  </ion-header>

  <ion-content>
    <div *ngIf="recipe !== null ">
      <app-recipe-detail [recipe]="recipe" [isChoosing]="isPlanningRoute" [course]="course"
        (portionsChanged)="portionsChanged($event)" />
    </div>
  </ion-content>
</div>