#variant-edit {
  ::ng-deep .ingredient-name {
    ::ng-deep textarea {
      align-content: center;
      flex-wrap: wrap;
    }
  }

  ::ng-deep .order {
    flex-grow: 0 !important;
    border-radius: var(--border-radius);
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    background-color: var(--ion-color-secondary);
    color: var(--ion-color-primary);
    text-align: center;
  }
}