<div id="day-menu-overview" class="ion-padding">
  <div class="custom-title-3" style="white-space: pre-wrap;">{{getDayName}}</div>
  <ion-grid>
    <ion-list *ngFor=" let course of courses">
      <ion-item>
        <ion-label position="stacked" class="course-name">{{getCourseName(course)}}</ion-label>
        <ion-text>
          <p>{{getMealForCourse(course)}}</p>
        </ion-text>
        <ion-icon *ngIf="getMealForCourse(course) === '-'" color="danger" slot="end" name="alert" style="height: 100%;
        align-content: center;
        display: flex
    ;
        flex-wrap: wrap;" />
      </ion-item>
    </ion-list>
  </ion-grid>
  <ion-button (click)="openDayMenu()" shape="round">
    <ion-icon slot="icon-only" name="chevron-forward" />
  </ion-button>
</div>