#day-menu-overview {
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);

  ::ng-deep .course-name {
    background-color: var(--ion-color-primary);
    padding: var(--padding-var);
    border-radius: var(--radius);
    color: var(--ion-color-primary-contrast);
  }
}