<div id="day-menu-page" class="ion-page">
  <ion-header>

    <ion-toolbar class="ion-padding-top">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/recipes" text="" />
        <ion-button [disabled]="!previousDateExists" (click)="previousDate()" shape="round">
          <ion-icon slot="icon-only" name="chevron-back" />
        </ion-button>
      </ion-buttons>
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <div class="custom-title-1">{{event?.name}}</div>
        <div class="custom-title-1">{{ dayMenu?.date | date: 'dd.MM.yyyy'}}</div>
        <ion-button id="date-selection" fill="success" shape="round" size="small">
          <ion-icon slot="icon-only" name="calendar" />
        </ion-button>
        <ion-popover id="date-selection-popover" trigger="date-selection" triggerAction="click" size="auto">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-datetime #datepicker [value]="dayMenu?.date?.toISOString()" [min]="getDateFromISOString()"
                [max]="getDateToISOString()" [locale]="getCurrentLang" presentation="date"
                (ionChange)="dateChanged($event)" [highlightedDates]="highlightedDates" />
            </ion-content>

          </ng-template>
        </ion-popover>
      </div>

      <ion-buttons slot="end">
        <ion-button [disabled]="!nextDateExists" (click)="nextDate()" shape="round">
          <ion-icon slot="icon-only" name="chevron-forward" />
        </ion-button>
      </ion-buttons>

    </ion-toolbar>

  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding-start ion-padding-end ion-padding-top">
    <ion-list style=" gap: 10px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;">
      <div *ngFor="let course of courses" style="width: 100%; 
      display: flex; justify-content: center;">
        <ion-item style="width: 100%;" class="my-item">
          <div *ngIf="courseExists(course)" style="width: 100%;">
            <app-meal [meal]="getMealForCourse(course)" (deleteMealEvent)="deleteMeal($event)"
              (editMealEvent)="editMeal($event)" />
          </div>
          <div *ngIf="!courseExists(course)" class="no-meal-container ion-padding" style="width: 100%;">
            <div>
              <div style="text-align: center;">{{getCourseName(course)}}</div>
              <ion-button (click)="addMeal(course)">
                <ion-icon slot="start" name="add" />
                <div>
                  {{"planning.day-menu.add-meal" | translate}}
                </div>
              </ion-button>
            </div>
          </div>
        </ion-item>
      </div>
    </ion-list>

  </ion-content>
</div>