.recipe {

  border: 1px var(--ion-color-medium) solid;
  border-radius: 30px;
  display: flex;
  flex-direction: row;

  align-items: center;

  .main-button {
    width: 100%;
    //padding-left: 10px;
    display: flex;
    gap: 10px;
  }

  ::ng-deep .recipe-name {

    font-weight: bold;
    flex: 1;
  }

  ::ng-deep .recipe-variants-container {
    display: flex;
    flex-direction: column;
  }

  ::ng-deep .recipe-variant-count {
    margin-bottom: 5px;
  }

  ::ng-deep .recipe-variants {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  ::ng-deep .choose-button {
    flex-grow: 0;
    padding-right: 10px;
  }

}