<div id="planning-home" class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/planning" text="" />
      </ion-buttons>
      <ion-title> {{ "planning.title" | translate}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <div class="content">
      <ion-label *ngIf="plannedEvents.length === 0">{{"planning.no-planned-events" | translate}}</ion-label>
      <ion-label *ngIf="plannedEvents.length !== 0">{{"planning.choose-or-create" | translate }}</ion-label>
      <ion-button (click)="createEvent()">
        <ion-icon slot="start" name="add"></ion-icon>
        <ion-label>{{"planning.event.add-event" | translate }}</ion-label>
      </ion-button>
      <ion-button id="showPopover" color="light">
        <ion-icon slot="end" name="chevron-down"></ion-icon>
        {{"planning.event.select-event" | translate }}</ion-button>
      <ion-popover trigger="showPopover" show-backdrop="true" showBackdrop="true">
        <app-select-event *ngIf="plannedEvents.length !== 0"
          (selectionChange)="selectionChanged($event)"></app-select-event>
      </ion-popover>

    </div>

  </ion-content>
</div>