<div id="event-edit-page" class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/planning" text="" />
      </ion-buttons>
      <div class="upper-part ion-justify-content-end">
        <ion-buttons slot="end">
          <ion-button (click)="saveEvent()" shape="round">
            <ion-icon slot="icon-only" name="save" />
          </ion-button>
          <ion-button (click)=" closeEvent()" shape="round">
            <ion-icon slot="icon-only" name="close-circle" />
          </ion-button>
        </ion-buttons>
      </div>

      <div>
        <div class="ion-padding-bottom" style="display: flex; justify-content: space-between;">
          <div *ngIf="event" class="header-event-name">
            <ion-textarea rows="1" [(ngModel)]="event.name" placeholder="{{'planning.event.empty-name' |translate }}"
              label-placement="stacked" label="{{'planning.event.title' | translate }}" />
          </div>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div *ngIf="event !== null" class="content">
      <ion-button fill="clear" id="choose-date">
        <ion-icon slot="start" name="calendar" />
        <ion-label *ngIf="event.dateFrom && event.dateTo">{{event.dateFrom | date:'dd.MM.yyyy'}} - {{event.dateTo |
          date:'dd.MM.yyyy'}}</ion-label>
        <ion-label *ngIf="!event.dateFrom || !event.dateTo">{{"planning.event.choose-date" | translate}}</ion-label>
      </ion-button>
      <ion-popover id="choose-date-popover" trigger="choose-date" triggerAction="click" size="cover">
        <ng-template>
          <ion-range-calendar [(ngModel)]="dateRange" [options]="optionsRange" type="string" [format]="'yyyy-MM-dd'"
            (ionChange)="onDidDismiss($event)">
          </ion-range-calendar>
        </ng-template>
      </ion-popover>
    </div>
  </ion-content>
</div>