<div id="event-edit-page" class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/planning" text="" [disabled]="isAnyChange" />
      </ion-buttons>
      <div class="upper-part ion-justify-content-end">
        <ion-buttons slot="end" class="buttons-container">
          <ion-button (click)="saveEvent()" [disabled]="!isAnyChange" shape="round"
            style="--background: var(--ion-color-success-tint);">
            <ion-icon slot="icon-only" name="save" />
          </ion-button>
          <ion-button (click)=" closeEvent()" shape="round">
            <ion-icon slot="icon-only" name="close-circle" />
          </ion-button>
        </ion-buttons>
      </div>

      <div>
        <div class="ion-padding-bottom" style="display: flex; justify-content: space-between;">
          <div *ngIf="event" class="header-event-name">
            <ion-textarea rows="1" [(ngModel)]="event.name" placeholder="{{'planning.event.empty-name' |translate }}"
              label-placement="stacked" label="{{'planning.event.title' | translate }}" />
          </div>
          <ion-icon *ngIf="!hasName" name="alert" color="danger" size="large"
            style="display: flex; align-self: center;"></ion-icon>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div *ngIf="event !== null" class="content">
      <ion-icon *ngIf="!event.dateFrom || !event.dateTo" name="alert" color="danger" size="large"></ion-icon>
      <ion-button fill="clear" id="choose-date-1">
        <ion-icon slot="start" name="calendar" />

        <ion-input [disabled]="true" label="{{'planning.event.from' | translate}}" labelPlacement="stacked"
          placeholder="{{'planning.event.enter-from' |translate}}" [value]="event.dateFrom | date:'dd.MM.yyyy'"
          style="opacity: 1; text-align: start;"></ion-input>
      </ion-button>

      <ion-popover id="choose-date-popover-1" trigger="choose-date-1" triggerAction="click" size="cover">
        <ng-template>
          <ion-datetime #fromPicker [value]="getISODateFrom()" [locale]="getCurrentLang" presentation="date"
            (ionChange)="dateFromChanged($event)"></ion-datetime>
        </ng-template>

      </ion-popover>
      <ion-button fill="clear" id="choose-date-2">
        <ion-icon slot="start" name="calendar" />

        <ion-input [disabled]="true" label="{{'planning.event.to' | translate}}" labelPlacement="stacked"
          placeholder="{{'planning.event.enter-to' |translate}}" [value]="event.dateTo | date:'dd.MM.yyyy'"
          style="opacity: 1; text-align: start;"></ion-input>
      </ion-button>

      <ion-popover id="choose-date-popover-2" trigger="choose-date-2" triggerAction="click" size="cover">
        <ng-template>
          <ion-datetime #toPicker [value]="getISODateTo()" [min]="getISODateFrom()" [locale]="getCurrentLang"
            presentation="date" (ionChange)="dateToChanged($event)"></ion-datetime>
        </ng-template>

      </ion-popover>


      <!-- <ion-datetime [(ngmodel)]="event.datefrom" />
      <ion-datetime [(ngmodel)]="event.dateto" /> -->

      <!--ion-popover id="choose-date-popover-2" trigger="choose-date-2" triggerAction="click" size="cover">
          <ng-template>
            <ion-datetime [(ngModel)]="event.dateTo" [min]="event.dateFrom" [disabled]="!event.dateFrom" />
            <!-- <ion-range-calendar [(ngmodel)]="daterange" [options]="optionsrange" type="string" [format]="'yyyy-mm-dd'"
              (ionchange)="ondiddismiss($event)">
            </ion-range-calendar>>
          </ng-template>
        </ion-popover-->
    </div>
  </ion-content>
</div>