<div id="day-menu-overview" class="ion-padding">
  <div style="width: 55px">{{getDayName}}</div>
  <ion-grid>
    <div *ngFor="let course of courses">
      <ion-row>

        <ion-col>
          {{getCourseName(course)}}
        </ion-col>
        <ion-col>
          <div [title]="getMealforCourse(course)" class="overflow-hidden" style="display: block; max-width: 150px">
            {{ getMealforCourse(course) }}
          </div>
        </ion-col>

      </ion-row>
    </div>

  </ion-grid>
  <ion-button>
    <ion-icon slot="icon-only" name="chevron-forward"></ion-icon>
  </ion-button>
</div>