<ion-button [disabled]="disabled" (click)="showRestrictionHelp($event)" fill="clear" class="restriction-icons">

  <div *ngFor="let restriction of inputRestrictions">
    <div class="restriction-icon">
      <div *ngIf="restriction === restrictions.VEGAN">
        <ion-icon src="assets/icon/restrictions/vegan.svg" />
      </div>
      <div *ngIf="restriction === restrictions.VEGETARIAN">
        <ion-icon src="assets/icon/restrictions/vegetarian.svg" />
      </div>
      <div *ngIf="restriction === restrictions.GLUTEN_FREE">
        <ion-icon src="assets/icon/restrictions/gluten_free.svg" />
      </div>
      <div *ngIf="restriction === restrictions.LACTOSE_INTOLERANT">
        <ion-icon src="assets/icon/restrictions/lactose_intolerant.svg" />
      </div>
    </div>
  </div>
</ion-button>

<ion-popover #restrictionHelpPopover>
  <ng-template>
    <app-restriction-help></app-restriction-help>
  </ng-template>
</ion-popover>