<div id="recipe-variant" [ngClass]="{'with-border': isEditing}">
  <ion-button class="ion-justify-space-between" [ngClass]="{'no-border': isEditing}" fill="outline" size="large"
    expand="block" (click)="openVariant()" [disabled]="isEditing">
    <div class="ion-text-start recipe-name">
      {{variant.name}}
    </div>

    <div class="recipe-variants-container">
      <app-restriction [inputRestrictions]="variant.restrictions"></app-restriction>
    </div>

  </ion-button>
  <div *ngIf="isEditing" class="to-delete-checkbox ion-padding-end">
    <ion-checkbox (ionChange)=" checkboxClick($event)" />
  </div>
</div>