<div class="recipe-variant-detail">
  <div class="ingredients group ion-padding-start ion-padding-end ion-padding-top"
    [ngClass]="{ 'ion-padding-bottom': !ingredientsVisible }">
    <div class="top-part">
      <ion-label class="custom">{{"recipes.variant.ingredients.title" | translate}}</ion-label>
      <ion-button (click)="toggleIngredients()" fill="clear" size="small" shape="round">
        <ion-icon slot="icon-only" [name]="getIcon(ingredientsVisible)" />
      </ion-button>
    </div>
    <ion-list *ngIf="ingredientsVisible" style="margin-top: 5px">
      <ion-reorder-group [disabled]="isEditing" (ionItemReorder)="handleReorder($any($event))">
        <div *ngFor="let ingredient of variant.ingredients">
          <ion-item>
            <ion-label>{{ ingredient.name }}</ion-label>
            <div> {{ingredient.quantity}} {{"recipes.variant.ingredients.units." + ingredient.unit | translate }}</div>
            <ion-reorder slot="end" />
          </ion-item>
        </div>
      </ion-reorder-group>
    </ion-list>
  </div>

  <div class="proceeding group ion-padding-start ion-padding-end ion-padding-top"
    [ngClass]="{ 'ion-padding-bottom': !proceedingVisible }">
    <div class="top-part">
      <ion-label class="custom">{{"recipes.variant.proceeding.title" | translate}}</ion-label>
      <ion-button (click)="toggleProceeding()" fill="clear" size="small" shape="round">
        <ion-icon slot="icon-only" [name]="getIcon(proceedingVisible)" />
      </ion-button>
    </div>
    <ion-grid *ngIf="proceedingVisible" class="grid">
      <div *ngIf="variant.proceeding.length === 0" class="no-data">
        <p style="padding-left: 16px;">{{"recipes.variant.no-proceeding" | translate}}</p>
      </div>
      <ion-row *ngFor="let item of variant.proceeding" class="ion-align-items-center">
        <ion-col class="order">
          {{ item.order }}
        </ion-col>
        <ion-col class="description ion-text-wrap">
          {{ item.description }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="history-of-changes group ion-padding-start ion-padding-end ion-padding-top"
    [ngClass]="{ 'ion-padding-bottom': !changesVisible }">
    <div class="top-part">
      <ion-label class="custom">{{"recipes.variant.history-of-changes" | translate}}</ion-label>
      <ion-button (click)="toggleChanges()" fill="clear" size="small" shape="round">
        <ion-icon slot="icon-only" [name]="getIcon(changesVisible)" />
      </ion-button>
    </div>
    <div *ngIf="changesVisible && variant.historyOfChanges.length === 0">
      <p style="padding-left: 16px;">{{"recipes.variant.no-history-of-changes" | translate}}</p>
    </div>
    <div *ngIf="changesVisible && variant.historyOfChanges.length > 0">
      <div *ngFor="let change of variant.historyOfChanges">
        <div>
          {{ change.date | date: "dd.MM.yyyy" }}
        </div>
        <div>
          {{ change.changes }}
        </div>
      </div>
    </div>
  </div>

</div>