<div id="recipe-detail" class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-back-button />
      <div style="padding-left: 16px;">
        <div class="ion-padding-top">{{"recipe" | translate }}</div>
        <div style="display: flex; justify-content: space-between;">
          <div style="display: flex; align-items: center;">
            <div class="header-recipe-name"> {{ recipe?.name }}</div>
            <ion-button fill="clear">
              <ion-icon slot="icon-only" name="pencil" />
            </ion-button>

          </div>
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="trash" />
          </ion-button>
        </div>
      </div>
    </ion-toolbar>

  </ion-header>

  <ion-content>
    <div *ngIf="recipe !== null">
      <app-recipe-detail [recipe]="recipe" />
    </div>
  </ion-content>
</div>