<div id="recipes" class="ion-page">
  <ion-header>
    <ion-toolbar class="ion-align-items-stretch">
      <ion-buttons slot="start" class="ion-padding-end">
        <ion-back-button defaultHref="/recipes" text="" />
      </ion-buttons>
      <ion-title>{{"recipes.title" | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="chooseSelected()" fill="solid" shape="round" color="success">
          {{"recipes.choose-recipe" | translate}}
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <app-searchbar-with-buttons [filter]="filter" [searchValue]="searchValue" [sortOption]="sortOption"
      (searchValueChangedEvent)="searchValueChanged($event)" (filterChangedEvent)="filterChanged($event)"
      (sortOptionChangedEvent)="sortOptionChanged($event)" />
  </ion-header>

  <ion-content class="ion-padding">
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="createRecipe()" shape="round" size="large" color="success">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <app-recipes-list [recipes]="recipes" [sortOption]="sortOption" [searchValue]="searchValue" [filter]="filter"
      [isChoosing]="true" [chosenRecipes]="chosenRecipes" (navigateToRecipeEvent)="navigateToRecipe($event)" />
  </ion-content>
</div>