<div id="recipes" class="ion-page">
  <ion-header>
    <ion-toolbar class="ion-align-items-stretch">
      <ion-buttons slot="start" class="ion-padding-end">
        <ion-back-button defaultHref="/recipes" text="" />
      </ion-buttons>
      <ion-title>{{"recipes.title" | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="createRecipe()" fill="solid" shape="round" color="primary">
          <ion-icon slot="icon-only" name="add" />
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar animated="true" placeholder="{{'searchBar' | translate}}" show-clear-button="always" />
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <app-recipes-list [recipes]=" recipes" [isChoosing]="true" />
  </ion-content>
</div>