/* Base styles for the responsive icon */

.restriction-icons {
  display: flex;
  gap: 2px;
  box-shadow: var(--box-shadow);
  width: 100%;
  border-radius: var(--radius);
  padding: 5px;
  background-color: var(--ion-color-warning-tint);
}