<ion-grid id="recipe-detail">
  <ion-row>
    <ion-col class="centered-col">
      {{"recipes.recipe-detail.course" | translate}}:
    </ion-col>
    <ion-col class="centered-col">
      {{"recipes.recipe-detail.variants" | translate}}:
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="wrap-text custom-title-3 centered-col">
      {{ getCourseNames(recipe.courses) }}
    </ion-col>
    <ion-col class="custom-title-3 centered-col">
      {{recipe.variants.length}}
    </ion-col>
  </ion-row>
  <ion-row *ngIf="isEditing">
    <ion-col>
      <ion-button id="choose-course" class="choose-course-button">

        <div style="display: flex; gap: 10px; align-items: center;">
          <img src="assets/icon/cutlery.svg" class="responsive-icon color-filter" />
          <div>
            {{"recipes.recipe-detail.choose-course" | translate}}
          </div>
        </div>




      </ion-button>
      <ion-popover id="choose-course-popover" trigger="choose-course" triggerAction="click">
        <ng-template>
          <app-course-list [selectedCourses]="getSelectedCourses"
            (selectedCoursesChange)="selectedCoursesChange($event)" />
        </ng-template>
      </ion-popover>
    </ion-col>
    <ion-col>
      <ion-button (click)="addVariant()">
        <ion-icon slot="start" name="add" />
        <div>
          {{"recipes.recipe-detail.add-variant" | translate}}
        </div>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="recipe !== null && recipe.variants.length > 1">
    <app-searchbar-with-buttons class="searchbar" [filter]="filter" [searchValue]="searchValue" [isRecipesPage]="false"
      [sortOption]="sortOption" (searchValueChangedEvent)="searchValueChanged($event)"
      (filterChangedEvent)="filterChanged($event)" (sortOptionChangedEvent)="sortOptionChanged($event)" />
  </ion-row>
  <ion-row *ngIf="((isEditing || isChoosing) && recipe.variants.length > 0)" class="ion-align-items-center">

    <ion-col>
      {{"recipes.recipe-detail.selected" | translate }} : {{selectedCount}}
    </ion-col>
    <ion-col>
      <ion-button *ngIf="isEditing" (click)="deleteSelected()">
        <ion-icon name="trash" fill="solid" />
        <div>
          {{"recipes.recipe-detail.delete-selected" | translate}}
        </div>
      </ion-button>
      <ion-button [disabled]="selectedCount === 0" *ngIf="isChoosing" (click)="chooseSelected()" color="primary">
        <div>
          {{"recipes.recipe-detail.choose-variants" | translate}}
        </div>
      </ion-button>
    </ion-col>

  </ion-row>
  <ion-row *ngIf="variantsListToBeDisplayed">

    <app-variants-list [variants]="recipe.variants" [filter]="filter" [searchValue]="searchValue"
      [sortOption]="sortOption" [isEditing]="isEditing" [isChoosing]="isChoosing"
      (selectedCountChanged)="selectedCountChanged($event)" style="width: 100%;" />

  </ion-row>
  <ion-row>
    <ion-col *ngIf="!(isEditing || isChoosing) && recipe.variants.length === 1 ">
      <app-recipe-variant-detail [variant]="recipe.variants[0]" />
    </ion-col>
    <ion-col *ngIf="recipe !== null && recipe.variants.length === 0">

      <p>{{"recipes.recipe-detail.no-variants" | translate}}</p>
    </ion-col>
  </ion-row>
</ion-grid>