<ion-grid id="recipe-detail">
  <ion-row>
    <ion-col class="centered-col">
      {{"recipes.recipe-detail.course" | translate}}:
    </ion-col>
    <ion-col class="centered-col">
      {{"recipes.recipe-detail.variants" | translate}}:
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="wrap-text custom-title-3 centered-col"
      style="display: flex; align-items: center; justify-content: center;">
      <ion-icon *ngIf="recipe.courses.length === 0" name="alert" color="danger" size="large"></ion-icon>
      {{ getCourseNames(recipe.courses) }}
    </ion-col>
    <ion-col class="custom-title-3 centered-col">
      {{recipe.variants.length}}
    </ion-col>
  </ion-row>
  <ion-row *ngIf="isEditing">
    <ion-col>
      <ion-button id="choose-course" class="choose-course-button">

        <div style="display: flex; gap: 10px; align-items: center;">
          <img src="assets/icon/cutlery.svg" class="responsive-icon color-filter" />
          <div>
            {{"recipes.recipe-detail.choose-course" | translate}}
          </div>
        </div>

      </ion-button>
      <ion-popover #chooseCoursePopover id="choose-course-popover" trigger="choose-course" triggerAction="click">
        <ng-template>
          <app-course-list [selectedCourses]="getSelectedCourses"
            (selectedCoursesChange)="selectedCoursesChange($event)" />
        </ng-template>
      </ion-popover>
    </ion-col>
    <ion-col>
      <ion-button (click)="handleAddVariant($event)" style="width: 100%; height: 100%;">
        <ion-icon slot="start" name="add" />
        <div>
          {{"recipes.recipe-detail.add-variant" | translate}}
        </div>
      </ion-button>
      <ion-popover #addPopover>
        <ng-template>
          <ion-button (click)="addVariant()" fill="clear">
            {{"recipes.recipe-detail.new-variant" | translate }}
          </ion-button>
          <ion-select (ionChange)="addFromExistingVariant($event)"
            placeholder="{{'recipes.recipe-detail.existing-variant' | translate }}"
            cancelText="{{ 'common.cancel'| translate}}"
            style="display: flex; justify-content: center; padding-left: 4px; padding-right: 4px;">
            <ion-select-option *ngFor="let variant of recipe.variants" [value]="variant">
              {{ variant.name }}
            </ion-select-option>
          </ion-select>
        </ng-template>
      </ion-popover>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="recipe !== null && recipe.variants.length > 1">
    <app-searchbar-with-buttons class="searchbar" [filter]="filter" [searchValue]="searchValue" [isRecipesPage]="false"
      [sortOption]="sortOption" (searchValueChangedEvent)="searchValueChanged($event)"
      (filterChangedEvent)="filterChanged($event)" (sortOptionChangedEvent)="sortOptionChanged($event)" />
  </ion-row>
  <ion-row *ngIf="((isEditing || isChoosing) && recipe.variants.length > 0)" class="ion-align-items-center">

    <ion-col>
      {{"recipes.recipe-detail.selected" | translate }} : {{selectedCount}}
    </ion-col>
    <ion-col>
      <ion-button *ngIf="isEditing" (click)="deleteSelected()" style="height: 100%; width: 100%;" color="danger">
        <ion-icon name="trash" fill="solid" />
        <div>
          {{"recipes.recipe-detail.delete-selected" | translate}}
        </div>
      </ion-button>
      <ion-button [disabled]="selectedCount === 0" *ngIf="isChoosing" (click)="chooseSelected()" color="primary">
        <div>
          {{"recipes.recipe-detail.choose-variants" | translate}}
        </div>
      </ion-button>
    </ion-col>

  </ion-row>
  <ion-row *ngIf="variantsListToBeDisplayed">

    <app-variants-list [variants]="recipe.variants" [filter]="filter" [searchValue]="searchValue"
      [sortOption]="sortOption" [isEditing]="isEditing" [isChoosing]="isChoosing" [selectedVariants]="selectedVariants"
      (selectedCountChanged)="selectedCountChanged($event)" (openVariantEvent)="openVariant($event)"
      style="width: 100%;" />

  </ion-row>
  <ion-row>
    <ion-col *ngIf="!(isEditing || isChoosing) && recipe.variants.length === 1 ">
      {{"recipes.recipe-detail.variant-detail" | translate}}
      <app-recipe-variant-detail [variant]="recipe.variants[0]" />
    </ion-col>
    <ion-col *ngIf="recipe !== null && recipe.variants.length === 0">

      <div style="display: flex; align-items: center;">
        <ion-icon slot="start" name="alert" size="large" color="warning"></ion-icon>
        {{"recipes.recipe-detail.no-variants" |
        translate}}
      </div>
    </ion-col>
  </ion-row>
</ion-grid>