#recipes {

  ion-toolbar {
    display: flex;
    justify-content: space-between;
  }

  ::ng-deep .toolbar-content {
    display: flex !important;
  }

  ::ng-deep .button-inner {
    justify-content: flex-start !important;
  }

  ::ng-deep .filters-container {
    max-height: 200px;
    /* Adjust height as needed */
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    /* Stack chips vertically */

    /* Adds space between chips */
  }
}