<div id="recipes" class="ion-page">
  <ion-header>
    <ion-toolbar class="ion-align-items-stretch">
      <ion-buttons slot="start" class="ion-padding-end background-secondary">
        <ion-back-button defaultHref="/recipes" text="" />
      </ion-buttons>
      <ion-title class="background-secondary">
        <div style="
         
          width: fit-content;
          padding: 0.5rem; border-radius: 1rem;
          width: 100%;">
          {{"recipes.title" | translate}}
        </div>
      </ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="createRecipe()" shape="round">
          <ion-icon slot="icon-only" name="add" />
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <!-- <ion-searchbar class=" searchbar background-secondary" animated="true" placeholder="{{'searchbar' | translate}}"
        show-clear-button="always" /> -->
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <app-recipes-list [recipes]="recipes" />
  </ion-content>
</div>