#recipes {

  ion-toolbar {
    display: flex;
    justify-content: space-between;
  }

  ::ng-deep .toolbar-content {
    display: flex !important;
  }

  ::ng-deep .button-inner {
    justify-content: flex-start !important;
  }
}