<div id="recipes" class="ion-page">
  <ion-header>
    <ion-toolbar class="ion-align-items-stretch">
      <ion-buttons slot="start" class="ion-padding-end background-secondary">
        <ion-back-button defaultHref="/recipes" text="" />
      </ion-buttons>
      <ion-title class="background-secondary">
        <div style="
         
          width: fit-content;
          padding: 0.5rem; border-radius: 1rem;
          width: 100%;">
          {{"recipes.title" | translate}}
        </div>
      </ion-title>
      <!--ion-buttons slot="end">
        <ion-button (click)="createRecipe()" shape="round" size="small">
          <ion-icon slot="icon-only" name="add" />
        </ion-button>
      </ion-buttons-->
    </ion-toolbar>
    <app-searchbar-with-buttons [filter]="filter" [searchValue]="searchValue" [sortOption]="sortOption"
      (searchValueChangedEvent)="searchValueChanged($event)" (filterChangedEvent)="filterChanged($event)"
      (sortOptionChangedEvent)="sortOptionChanged($event)" />
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="createRecipe()" shape="round" size="large" color="dark">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <app-recipes-list [recipes]="recipes" [sortOption]="sortOption" [searchValue]="searchValue" [filter]="filter"
      (navigateToRecipeEvent)="navigateToRecipe($event)" />

  </ion-content>
</div>