<div class="ion-padding">
  <div class="custom-title-3">{{"planning.day-menu.portions.entry" | translate}}</div>
  <div *ngFor="let variant of selectedItems">
    <ion-input [(ngModel)]="variant.portions" [label]="variant.name" type="number"
      placeholder="{{'planning.day-menu.portions.title' | translate}}" labelPlacement="stacked" min="1" />
  </div>
  <div>
    <ion-buttons>
      <ion-button (click)="cancel()">{{"planning.day-menu.portions.cancel" | translate}}</ion-button>
      <ion-button class="ion-padding" [disabled]="!allFilledCorrectly" (click)="confirm()" color="primary" fill="solid"
        size="default" [strong]="true">{{"planning.day-menu.portions.confirm" | translate}}</ion-button>
    </ion-buttons>
  </div>
</div>