<div id="recipes" class="ion-page">
  <ion-header [translucent]="true">
    <ion-toolbar class="ion-align-items-stretch">
      <ion-buttons slot="start" class="ion-padding-end">
        <ion-back-button defaultHref="/recipes" text="" />
      </ion-buttons>
      <ion-title>{{"recipes.title" | translate }}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="createRecipe()">
          <ion-icon slot="icon-only" fill="solid" color="success" name="add" />
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar animated="true" placeholder="{{'searchBar' | translate}}" show-clear-button="always" />
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <app-recipes-list [recipes]="recipes" />
  </ion-content>
</div>