<div id="recipe-edit-page" class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/recipes" text="" />
      </ion-buttons>
      <div class="upper-part ion-justify-content-end">
        <ion-buttons slot="end" class="buttons-container">
          <ion-button (click)="saveRecipe()" shape="round">
            <ion-icon slot="icon-only" name="save" color="primary" />
          </ion-button>
          <ion-button (click)="closeRecipe()" shape="round">
            <ion-icon slot="icon-only" name="close-circle" color="primary" />
          </ion-button>
        </ion-buttons>
      </div>

      <div>
        <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
          <div style="display: flex; align-items: center; width: 70%;">
            <div *ngIf="recipe" class="header-recipe-name" style="width: 100%;">
              <ion-textarea rows="1" [(ngModel)]="recipe.name" placeholder="{{'recipes.new-recipe' |translate}}"
                label-placement="stacked" label="{{'recipes.recipe' | translate }}" />

            </div>
            <ion-icon *ngIf="!hasRecipeName" name="alert" color="danger" size="large"></ion-icon>
          </div>

        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding-start ion-padding-end">
    <div *ngIf="recipe !== null">
      <app-recipe-detail [recipe]="recipe" [isEditing]="true" />
    </div>
  </ion-content>
</div>