<div id="recipe-edit-page" class="ion-page">
  <ion-header>
    <ion-toolbar>
      <div class="upper-part ion-justify-content-end">
        <ion-buttons slot="end">
          <ion-button (click)="saveRecipe()" fill="clear">
            <ion-icon slot="icon-only" name="save" color="primary" />
          </ion-button>
          <ion-button (click)="closeRecipe()" fill="clear" shape="round">
            <ion-icon slot="icon-only" name="close-circle" color="primary" />
          </ion-button>
        </ion-buttons>
      </div>
      <ion-buttons slot="start" class="ion-padding-end">
        <ion-back-button defaultHref="/recipes" text="" />
      </ion-buttons>
      <div>
        <div class="ion-padding-top">{{"recipes.recipe" | translate }}</div>
        <div style="display: flex; justify-content: space-between; margin-bottom: 10px;">
          <div style="display: flex; align-items: center;">
            <div *ngIf="recipe" class="header-recipe-name">
              <ion-textarea rows="1" [(ngModel)]="recipe.name" placeholder="{{'recipes.new-recipe' |translate}}" />
            </div>
          </div>

        </div>
      </div>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding-start ion-padding-end">
    <div *ngIf="recipe !== null">
      <app-recipe-detail [recipe]="recipe" [isEditing]="true" />
    </div>
  </ion-content>
</div>