#recipe-edit-page {
  ::ng-deep .upper-part {
    display: flex;
  }

  ::ng-deep .header-recipe-name {
    ion-textarea .textarea-wrapper-inner {
      font-size: 1.5em;
      font-weight: bold;
      color: grey;
    }

    background-color: var(--ion-color-primary-contrast);
    border-radius: var(--radius);
    padding: var(--padding-var);
  }
}