<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/planning" text="" />
    </ion-buttons>
    <ion-title>{{"planning.event.menu" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding-start ion-padding-end ion-padding-top"
  style="display: flex; gap: 20px">
  <div style="    gap: 20px;
  flex-direction: column;
  display: flex
;">
    <div *ngIf="event !== null">
      <div *ngIf="event.dateFrom && event.dateTo">
        <div *ngFor="let date of dates">
          <div *ngIf="getMenuForDate(date) !== null">
            <app-day-menu-overview [dayMenu]="getMenuForDate(date)!" [eventId]="event.id"
              [date]="date"></app-day-menu-overview>
          </div>
          <div *ngIf="!getMenuForDate(date)" style="text-align: center;">
            <app-day-menu-overview [dayMenu]="null" [eventId]="event.id" [date]="date"></app-day-menu-overview>
          </div>
        </div>

      </div>
    </div>
  </div>



</ion-content>