<div id="meal" class="ion-padding" style="display: flex
;
    flex-direction: column;
    gap: 10px;">
  <div class=" upper-part">
    <div class="custom-title-3">{{getCourseName}}
    </div>
    <ion-buttons slot="end">
      <ion-button fill="clear" size="small" (click)="editMeal()">
        <ion-icon slot="icon-only" name="pencil" />
      </ion-button>
      <ion-button fill="clear" size="small" (click)="deleteMeal()">
        <ion-icon slot="icon-only" name="trash" />
      </ion-button>
      <ion-button fill="clear" size="small" (click)="viewMeal()">
        <ion-icon slot="icon-only" [name]="getIcon" />
      </ion-button>
    </ion-buttons>
  </div>

  <div *ngIf="detailsVisible">
    <div *ngFor="let chosenRecipe of recipeNames" style="display: flex; flex-direction: column;
    gap: 5px;">
      <div *ngFor="let chosenVariant of chosenRecipe.variants" style="display: flex; gap: 10px">
        <div style="display: flex; gap: 5px">
          {{ getPortionsForVariant(chosenRecipe.id, chosenVariant.variantId) }}
          <ion-icon name="people" />
        </div>
        <div>
          {{ chosenRecipe.name }} - {{chosenVariant.variantName}}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!detailsVisible">
    <div *ngFor="let chosenRecipe of recipeNames" style="display: flex;
    gap: 5px;">
      <div>
        {{ getPortions(chosenRecipe.id) }}
        <ion-icon name="people" />
      </div>
      <div>
        {{ chosenRecipe.name }}
      </div>
    </div>
  </div>