#meal {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  width: 100%;
  transition: all 0.5s ease-in-out;

  ::ng-deep .upper-part {
    display: flex;
    justify-content: space-between;
  }
}